[Bb]in/
!src/packages/
[Oo]bj/
TestResults/
_ReSharper.*/
PrecompiledWeb/
_Secure/
tmp/
AutoTest.Net/

*.suo
*.user
*.swp
*.vspscc
*.vssscc
*.bak
*.[Cc]ache
*.log
*.Publish.xml
*.scssc

Thumbs.db
.DS_Store
~$*
