@model EventPlanning.Models.UserProfile

<!DOCTYPE html>

<html>
    <head>
        <title>Speaker Details</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>