@model IEnumerable<EventPlanning.Models.UserProfile>

@{
    ViewBag.Title = "Speakers";
    ViewBag.Message = "Great Minds. Like Thinking.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p></p>*@
        </div>
    </section>
}
<h3></h3>
<div>
    
</div>