@{
    ViewBag.Title = "Code Summit";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>*@
        </div>
    </section>
}
<h3>Why you should come:</h3>
<ol class="round">
    <li class="one">
        <h5>Networking</h5>
        The code summit is an excellent opportunity to meet people. Rub elbows with
        other smart attendees or chat with a few recruiters to find your next job!
    </li>

    <li class="two">
        <h5>Learn Something</h5>
        Dozens of speakers will be presenting on a broad range of topics. Presentations
        will range from beginner to expert and everything in-between. If you don't get all
        of your questions answered in the presentation, our speakers are always happy to 
        talk with you afterwards.
    </li>
</ol>
