@model IEnumerable<CodeSummit.Models.UserProfile>

@{
    ViewBag.Title = "Speakers";
    ViewBag.Message = "Great Minds. Like Thinking.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p></p>*@
        </div>
    </section>
}
@foreach (var speaker in Model)
{
    <div>
        <h3>@string.Format("{0} {1}", speaker.FirstName, speaker.LastName)</h3>
        <p>
            @speaker.Biography
        </p>
    </div>
}
