@model EventPlanning.Models.SessionModel

<!DOCTYPE html>

<html>
    <head>
        <title>Session Details</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>