@model IEnumerable<EventPlanning.Models.SessionModel>

@{
    ViewBag.Title = "Sessions";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @*<p></p>*@
        </div>
    </section>
}
<h3>Not a wasted moment.</h3>
<div>
    
</div>
